AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_DEFAULT_REGION=eu-central-1
S3_BUCKET_NAME=rna-responder-lake-yourname
GEO_ACCESSION=GSE78220
LOCAL_DUCKDB_PATH=./data/curated/rna_responder.duckdb
DBT_TARGET=dev